@model IEnumerable<CloudMockApi.Library.Model.Storage.Tenant>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RowKey)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditTenant", new { tenantId = item.RowKey }) |
                @Html.ActionLink("Delete", "DeleteTenant", new { tenantId = item.RowKey }) |
            </td>
        </tr>
    }
</table>
